@import '_config.scss';

@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow');

body {
  font-family: 'PT Sans Narrow', serif;
  background-color: #333333;
  margin-top: 49px;
}

#background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -999;
  /* min-width: 600px; */
}

.stretch {
  width: 100%;
  height: auto;
}

.padding-container {
  padding: 12px 24px;
}

/* Отступы для всего и минимальная ширина */
.page-container {
  margin: 24px 36px;
  /* min-width: 500px; */
}

.discount {
  font-size: 42px;
  font-weight: bold;
  color: $color-yellow;
}

.small-promo {
  font-size: 24px;
  font-weight: bold;
  color: $color-yellow;
}

.inline-div {
  display: inline-block;
}

.main-top-space {
  margin-top: 80px;
}

.book-now {
  font-size: 16px;
  font-weight: bold;
  color: $color-yellow;
  border: 3px solid $color-yellow;
  text-decoration: none;
  margin: 30px 0;
  padding: 14px;
  display: block;
  text-align: center;
}

.book-now-regular {
  font-size: 16px;
  /*font-weight: bold;*/
  color: black;
  /*border: 4px solid $color-yellow;*/
  background-color: gold;
  text-decoration: none;
  margin: 30px 0;
  padding: 14px;
  display: block;
  text-align: center;
}

.logo {
  width: 50%;
  height: auto;
}

.swiper-container {
  width: 100%;
  /* height: 300px;
  background-color: wheat; */
}

.main-back {
  background-image: url("../img/back.jpg");
  background-size: cover;
  background-color: #222222;
}

.tour-1 {
  //background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../img/tour1.jpg");
  background-image: url("../img/tour1.jpg");
  background-size: cover;
  background-color: #222222;
}

.tour-2 {
  background-image: url("../img/tour2.jpg");
  background-size: cover;
  background-color: #222222;
}


.car-1 {
  background-image: url("../img/car1.jpg");
  background-size: cover;
  background-color: #222222;
}

.car-2 {
  background-image: url("../img/car2.jpg");
  background-size: cover;
  background-color: #222222;
}

.swiper-pagination-bullet-active {
  background: gold !important;
}

.youtube-video {
  width: 100%;
  height: 230px;
}

.contacts {
  background: black;
  color: white;
}

.section {
  min-height: 559px;
}

.page-whole {
  width: 375px;
  /* width: 100%;
  min-width: 500px;
  max-width: 1000px; */
  margin: 0 auto;
  background-color: white;
  overflow: hidden;
}

.tour-card {
  height: 300px;
  color: white;
}

.tour-card-bottom {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tour-description {
  font-size: 18px;
  line-height: 120%;
}

.bottom-book-button {
  //bottom: 0;
  //position: absolute;
}

//.half-height {
//  height: 400px;
//}

.book-step {
  font-size: 24px;
  background-color: #222;
  color: white;
  padding: 24px;
  display: flex;
  justify-content: space-between;
}

.book-step-ready {
  background-color: #009999;
  border-bottom: 2px solid #333333;
  cursor: pointer;
}

.display-none {
  display: none;
}

.contacts-title {
  font-size: 48px;
  margin: 30px 0;
}

.contacts-tel {
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.contacts-text {
  font-size: 18px;
  margin: 0 0 48px;
  line-height: 150%;
}

.contacts-mail {
  margin: 18px 0;
}

.contacts-mail-link {
  font-size: 28px;
  color: gold;
}

.contacts-social {
  margin: 64px 0;
}

.contacts-social-icon {
  color: white;
  margin-right: 30px;
}

.contacts-copyrights {
  color: gray;
  font-size: 16px;
  line-height: 150%;
}

.book-email {
  box-sizing: border-box;
  border: 3px solid gold;
  width: 100%;
  font-size: 14px;
  padding: 6px;
}

.book-email-div {
  margin: 12px 0 24px;
}

.book-data {
  box-sizing: border-box;
  border: 3px solid gold;
  width: 100%;
  font-size: 14px;
  padding: 6px;
}

.book-additions-panel {
  //background-color: lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  margin: 0 16px;
}

.book-additions-table {
  width: 100%;
  text-align: center;
}

.additions-icon {
  color: black;
}

.additions-icon-selected {
  color: #6CB31D;
}

.additions-label {
  margin-bottom: 10px;
  margin-top: 16px;
  font-size: 14px;
}

.additions-cell {
  margin: 32px;
}

.additions-item-price {
  font-size: 32px;
  font-weight: bold;
}

.additions-cell-icon {
  margin: 20px 0;
}

.total-price {
  font-size: 32px;
  font-weight: bold;
}

#topmenu {
  display:none;
}

.top-nav-menu {
  position: fixed;
  width: 375px;
  //box-sizing: border-box;
  z-index: 9999;
  top: 0;
}

.section-driver-experience {
  background-color: white;
  background-image: url("../img/yellow-strip-back.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.drv-exp-testimonials {
  background-color: white;
  margin: 20px;
  padding: 20px;
  font-style: italic;
  font-size: 14px;
  box-shadow: 3px 3px 15px #ccc;
}

.testimonials-text {
}

.testimonials-user {
  text-align: right;
  margin-bottom: 24px;
  padding-right: 20px;
}

.garage-card {
  background-color: white;
  margin: 20px;
  padding: 20px;
  font-size: 14px;
  box-shadow: 3px 3px 15px #ccc;
  min-height: 200px;
}

.garage-card img {
  max-width:100%;
}

.garage-card h1 {
  font-size: 34px;
}

.section-garage {
  background-color: white;
  background-image: url("../img/shevron.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-pagination3 {
  //margin-top: 36px;
}

.booking-text-yellow {
  color: $color-yellow;
}

.cars-params {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
}

.select-date-time-container {
  display: flex;
}

.select-date-time-container div:first-child {
  margin-right: 6px;
}
