.section-faq {
  background-color: white;
  background-image: url("../img/LADT_snake.svg");
  background-size: 160%;
  background-repeat: no-repeat;
  padding-top: 56px;
}

.section-faq-qa {
  font-size: 20px;
  margin-top: 24px;
}

.section-faq-qa p:first-child {
  font-weight: bold;
}
