.vertical-space-between {
  display: flex;
  flex-direction: column;
}

.vertical-bottom-el {
  margin-top: auto;
}

.horizontal-space-between {
  display: flex;
  justify-content: space-between;
}

.horizontal {
  display: flex;
}

.text-align-right {
  text-align: right;
}
