@import '_config.scss';

.stroke {
  text-decoration: line-through;
}

.section-title {
  font-size: 40px;
  margin: 20px 0;
}

.titles-2 {
  color: white;
  font-size: 40px;
}

.titles-4 {
  font-size: 24px;
}

.titles-2-yellow {
  color: $color-yellow;
  font-size: 40px;
}

.titles-1-yellow {
  color: $color-yellow;
  font-size: 56px;
  font-weight: bold;
}

.titles-3-yellow {
  color: $color-yellow;
  font-size: 20px;
}

.titles-5 {
  color: white;
  font-size: 18px;
}

.titles-5-yellow {
  color: $color-yellow;
  font-size: 18px;
}

.titles-6 {
  color: white;
  font-size: 14px;
}
