@import '_config.scss';

$top-menu-fade-speed: 0.8s;

.top-nav-menu-visible {
  transform: translateY(0);
  transition: transform $top-menu-fade-speed ease-out,-webkit-transform $top-menu-fade-speed ease-out;
}

.top-nav-menu-invisible {
  transform: translateY(-$top-menu-height);
  transition: transform $top-menu-fade-speed ease-out,-webkit-transform $top-menu-fade-speed ease-out;
}
