.tour-city-overlook-head {
  background-image: url("../img/tour2.jpg");
  height: 300px;
  background-size: cover;
}

.tour-city-overlook-big-centered-text {
  font-size: 32px;
  text-align: center;
  padding: 36px;
}

.tour-city-overlook-small-centered-text {
  font-size: 22px;
  text-align: center;
  padding: 36px;
}

.tour-list-city-slide-1 {
  background-image: url("../img/tour1.jpg");
  height: 300px;
  background-size: cover;
}

.tour-list-city-slide-2 {
  background-image: url("../img/tour2.jpg");
  height: 300px;
  background-size: cover;
}

.tour-list-city-slide-3 {
  background-image: url("../img/car1.jpg");
  height: 300px;
  background-size: cover;
}

.tour-city-overlook-map {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 64px;
}

.tour-city-overlook-google-map-header {
  color: white;
  background: url("../img/round_bright.svg") center right no-repeat #2D3A41;
  background-size: 37%;
  margin-right: -64px;
  background-origin: content-box;
}

.tour-city-overlook-book-now {
  margin-top: 52px;
  margin-bottom: 52px;
}

.tour-city-overlook-head-info {
  margin-top: 48px;
}

.tour-city-overlook-back {
  background-color: black;
}