
.tour-list-header {
  color: white;
  padding-bottom: 16px;
  background: url("../img/LADT_round.svg") center right no-repeat #2C3940;
  background-size: 37%;
  padding-right: 16px;
  background-origin: content-box;
}

.tour-list-header-h {
  margin: 8px 0;
}

.tour-list-tour-1 {
  background-image: url("../img/tour1.jpg");
  background-size: cover;
  color: white;
  height: 500px;
}

.tour-list-tour-2 {
  background-image: url("../img/tour2.jpg");
  background-size: cover;
  color: white;
  height: 500px;
}

.tour-list-tour-1 p {
  width: 60%;
  line-height: 120%;
  margin-top: 24px;
  margin-bottom: 40px;
}

.tour-list-tour-2 p {
  width: 60%;
  line-height: 120%;
  margin-top: 24px;
  margin-bottom: 40px;
}

.tour-list-more-info {
  font-size: 18px;
  color: white;
  display: block;
  margin-bottom: 128px;
}
