<section id="nav_choose_tour">

    <div class="padding-container">
        <h1 class="section-title">TOUR BOOKING</h1>
    </div>

    <!-- Шаги букинга -->
    <div id="book-step-header-1" class="book-step"><h3>1. CHOOSE TOUR</h3><i class="fa fa-chevron-down"></i></div>
    <div id="book-step-header-2" class="book-step display-none">2. CHOOSE CAR<i class="fa fa-chevron-down"></i></div>
    <div id="book-step-header-3" class="book-step display-none">3. CHOOSE DATA & ADDITIONS<i class="fa fa-chevron-down"></i></div>
    <div id="book-step-header-4" class="book-step display-none">4. CHOOSE PAYMENT SYSTEM<i class="fa fa-chevron-down"></i></div>

    <!-- Выбор тура -->
    <div id="book-step-1" class="page-section">
        <!-- Slider main container -->
        <div class="swiper-container swiper-container1">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">

                <!-- Первый тур -->
                <div class="swiper-slide">
                    <div class="tour-card tour-1">
                        <div class="padding-container">
                            <h1 class="titles-2">HOLLYWOOD<br>SIGN</h1><br>
                            <h1 class="titles-6">DURATION:</h1><br>
                            <h1 class="titles-2">10</h1>
                            <h1 class="titles-6">MINUTES</h1><br>
                            <h1 class="titles-2">40</h1>
                            <h1 class="titles-6">MILES</h1>
                        </div>
                    </div>
                    <div class="tour-card-bottom padding-container">
                        <p class="tour-description">It's time to ride in style and get behind a gorgeous
                            Sports car of your dreams. Drive on the top of Hollywood
                            Hills and enjoy spectacular views of the
                            city from bird’s eye height.</p>
                        <div class="bottom-book-button">
                            <a id="book-step-1-select-1" class="book-now-regular" href="#">BOOK NOW!</a>
                        </div>
                    </div>
                </div>

                <!-- Второй тур -->
                <div class="swiper-slide">
                    <div class="tour-card tour-2">
                        <div class="padding-container">
                            <h1 class="titles-2">CITY<br>OVERLOOK</h1><br>
                            <h1 class="titles-6">DURATION:</h1><br>
                            <h1 class="titles-2">20</h1>
                            <h1 class="titles-6">MINUTES</h1><br>
                            <h1 class="titles-2">80</h1>
                            <h1 class="titles-6">MILES</h1>
                        </div>
                    </div>
                    <div class="tour-card-bottom padding-container">
                        <p class="tour-description">It's time to ride in style and get behind a gorgeous
                            Sports car of your dreams. Drive on the top of Hollywood
                            Hills and enjoy spectacular views of the
                            city from bird’s eye height.</p>
                        <div>
                            <a id="book-step-1-select-2" class="book-now-regular" href="#">BOOK NOW!</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-pagination1">PAGINATOR</div>
        </div>
    </div>

    <!-- Выбор машины -->
    <div id="book-step-2" class="page-section display-none">

        <p class="padding-container">For <span class="booking-text-yellow">CITY OVERLOOK</span> tour our company want to provide you one of these cars:</p>

        <!-- Slider main container -->
        <div class="swiper-container swiper-container1b">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">

                <!-- Первая машина -->
                <div class="swiper-slide">
                    <div class="garage-card">
                        <h1>BMW i8</h1>
                        <img src="img/garage/bmwi8.jpg">
                        <p>The BMW i8 is an icon of progress, marking an extraordinary
                            evolution of The Ultimate Driving Machine.® As an
                            innovative plug-in hybrid, it uses eDrive technology to
                            combine the efficiency of an all-electric motor and the
                            power of a TwinPower Turbo engine for an exhilarating
                            driving experience that's every bit BMW.</p>
                        <div class="cars-params">
                            <span>2 persons max.</span>
                            <span>155 MPH</span>
                            <span>357 HP</span>
                            <span>4.2.5</span>
                            <span>$160.000</span>
                        </div>
                        <a id="book-step-2-select-1" class="book-now-regular" href="#">PICK A CAR</a>
                    </div>
                </div>

                <!-- Вторая машина -->
                <div class="swiper-slide">
                    <div class="garage-card">
                        <h1>Corvet</h1>
                        <img src="img/garage/corvet.jpg">
                        <p>The Corvet is an icon of progress, marking an extraordinary
                            evolution of The Ultimate Driving Machine.® As an
                            innovative plug-in hybrid, it uses eDrive technology to
                            combine the efficiency of an all-electric motor and the
                            power of a TwinPower Turbo engine for an exhilarating
                            driving experience that's every bit Corvet.</p>
                        <div class="cars-params">
                            <span>2 persons max.</span>
                            <span>155 MPH</span>
                            <span>357 HP</span>
                            <span>4.2.5</span>
                            <span>$160.000</span>
                        </div>
                        <a id="book-step-2-select-2" class="book-now-regular" href="#">PICK A CAR</a>
                    </div>
                </div>
            </div>
            <div>&nbsp;</div>
            <!-- If we need pagination -->
            <div class="swiper-pagination swiper-pagination1b">PAGINATOR</div>
        </div>

    </div>

    <!-- Выбор дополнений -->
    <div id="book-step-3" class="page-section display-none">
        <div class="padding-container">
            <form>

                <div class="select-date-time-container">
                    <div>
                        <div class="additions-label">
                            <label for="datepicker">SELECT DATE</label>
                        </div>
                        <div>
                            <input class="book-data" type="text" id="datepicker">
                        </div>
                    </div>

                    <div>
                        <div class="additions-label">
                            <label for="timepicker">SELECT TIME</label>
                        </div>
                        <div>
                            <input class="book-data" type="text" id="timepicker">
                        </div>
                    </div>
                </div>

                <div class="additions-label">
                    <label for="book-email">YOUR E-MAIL</label>
                </div>
                <div class="book-email-div">
                    <input class="book-email" type="email" name="email" id="book-email">
                </div>

            </form>
        </div>


        <div class="book-additions-panel">
            <table class="book-additions-table">
                <tr>
                    <td>
                        <div class="additions-cell">
                            <p>Add Go-Pro</p>
                            <div class="additions-cell-icon"><a id="book-step-3-select-1" href="#"><i class="fa fa-video-camera fa-4x"></i></a></div>
                            <span class="additions-item-price">$29</span>
                        </div>
                    </td>
                    <td>
                        <div class="additions-cell">
                            <p>Add Passenger</p>
                            <div class="additions-cell-icon"><a id="book-step-3-select-2" href="#"><i class="fa fa-male fa-4x"></i></a></div>
                            <span class="additions-item-price">$59</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="padding-container">
            <p>Total price:</p>
            <h1 class="total-price">-$</h1>
            <div>
                <a id="book-step-3-select" class="book-now-regular" href="#">PURCHASE TOUR</a>
            </div>
        </div>

    </div>

    <!-- Выбор метода оплаты -->
    <div id="book-step-4" class="page-section display-none">
        PAYMENT
    </div>

</section>
