<section id="nav_contacts">
    <div class="page-section contacts">
        <div class="padding-container">
            <h1 class="contacts-title">CONTACTS</h1>
            <p class="contacts-text">The tour begins in the heart of Hollywood on world<br>
                famous Hollywood walk of Fame.<br><br>
                Shortly you will get to Barham</p>
            <a class="contacts-tel" href="tel:+13102700730">+1 (310) 270-0730</a>
            <div class="contacts-mail">
                <a class="contacts-mail-link" href="mailto:ladrivetours@gmail.com" target="_top">ladrivetours@gmail.com</a>
            </div>
            <div class="contacts-social">
                <a href="http://twitter.com"><i class="fa fa-twitter fa-3x contacts-social-icon"></i></a>
                <a href="http://facebook.com"><i class="fa fa-facebook-official fa-3x contacts-social-icon"></i></a>
                <a href="http://youtube.com"><i class="fa fa-youtube-play fa-3x contacts-social-icon"></i></a>
                <a href="http://instagram.com"><i class="fa fa-instagram fa-3x contacts-social-icon"></i></a>
            </div>
            <div>
                <span class="contacts-copyrights">&copy; Copyright 2017, LADriveTours - Los Angeles CA, All rights reserved</span>
            </div>
        </div>
    </div>
</section>
