<section id="nav_drive_experience" class="section section-driver-experience">
    <h1 class="padding-container section-title">DRIVE<br>EXPERIENCE</h1>
    <div class="page-section">
        <iframe class="youtube-video" src="https://www.youtube.com/embed/WLzlBmA_bZk?controls=1"></iframe>
    </div>
    <div class="drv-exp-testimonials">
        <p class="testimonials-text">«One of the most unforgettable experience in my life! It was so much fun.»</p>
        <p class="testimonials-user">Alex</p>

        <p class="testimonials-text">«The Malibu tour was the best thing what happened with us on our Los Angeles vacation.»</p>
        <p class="testimonials-user">Yana and Anton</p>

        <p class="testimonials-text">«WOW - that was the best driving experience in my life! Beautiful mountain roads, incredible cars!»</p>
        <p class="testimonials-user">Tony</p>
    </div>
</section>
