<section id="nav_faq" class="section section-faq">
    <div class="padding-container">
        <h1 class="section-title">FAQ</h1>
        <div>
            <div class="section-faq-qa">
                <p>Do I drive a car by myself?</p>
                <p>— Yes, you will be driving a car by yourself.</p>
            </div>

            <div class="section-faq-qa">
                <p>Is a tour guide will be present with me in a car?</p>
                <p>— If you book a tour with no passenger a
                        tour guide will be present with you in a car.
                        If you book a tour with a passenger a the
                        tour guide will be driving his own car and
                        you will be following him.</p>
            </div>

            <div class="section-faq-qa">
                <p>How many passengers I can take with me on a tour?</p>
                <p>— Each car can accommodates from 1 to 3 passengers.</p>
            </div>

            <div class="section-faq-qa">
                <p>Can I drive a car with not US driver's license?</p>
                <p>— Yes, you can drive with a valid driver's license from your home country.</p>
            </div>

        </div>
    </div>
</section>
