<section id="nav_garage" class="section section-garage">
    <div class="padding-container">
        <h1 class="section-title">GARAGE</h1>
        <p>For any tour our company want<br>
            to provide you one of these cars.<br>
            You can book a few car of your choice</p>
    </div>

    <!-- Slider main container -->
    <div class="swiper-container swiper-container3">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">

            <!-- Первая машина -->
            <div class="swiper-slide">
                <div class="garage-card">
                    <h1>BMW i8</h1>
                    <img src="img/garage/bmwi8.jpg">
                    <p>The BMW i8 is an icon of progress, marking an extraordinary
                        evolution of The Ultimate Driving Machine.® As an
                        innovative plug-in hybrid, it uses eDrive technology to
                        combine the efficiency of an all-electric motor and the
                        power of a TwinPower Turbo engine for an exhilarating
                        driving experience that's every bit BMW.</p>
                </div>
            </div>

            <!-- Вторая машина -->
            <div class="swiper-slide">
                <div class="garage-card">
                    <h1>Corvet</h1>
                    <img src="img/garage/corvet.jpg">
                    <p>The Corvet is an icon of progress, marking an extraordinary
                        evolution of The Ultimate Driving Machine.® As an
                        innovative plug-in hybrid, it uses eDrive technology to
                        combine the efficiency of an all-electric motor and the
                        power of a TwinPower Turbo engine for an exhilarating
                        driving experience that's every bit Corvet.</p>
                </div>
            </div>
        </div>
        <div>&nbsp;</div>
        <!-- If we need pagination -->
        <div class="swiper-pagination swiper-pagination3">PAGINATOR</div>
    </div>


</section>
