<meta charset="UTF-8">
<meta name="viewport" content="width=375">
<title>LA Tours</title>

<link rel="stylesheet" href="styles/slicknav.css" />
<link rel="stylesheet" href="styles/pikaday.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/css/swiper.css">
<link rel="stylesheet" href="styles/bundle.css">

<script src="https://code.jquery.com/jquery-3.1.1.js"
        integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.4.1/js/swiper.jquery.js"></script>

<script src="https://use.fontawesome.com/4fef2b41ce.js"></script>

<script src="js/bundle.js"></script>
<script src="js/jquery.slicknav.js"></script>
<script src="js/pikaday.js"></script>
<script src="js/pikaday.jquery.js"></script>
