<section class="section main-back padding-container vertical-space-between" id="nav_main">
    <div class="main-top-space horizontal-space-between">
        <div>
            <h1 class="titles-2">ANGELES<br>FOREST<br>TOUR<br>Corvette z06</h1>
        </div>
        <div class="text-align-right">
            <h1 class="titles-1-yellow">-20%</h1>
            <h1 class="titles-3-yellow">SUPER PROMO</h1>
        </div>
    </div>
    <div class="vertical-bottom-el">
        <div class="text-align-right">
            <h1 class="titles-2-yellow">$975</h1>
            <h1 class="titles-5 stroke">$1095</h1>
        </div>
        <a class="book-now" href="http://google.com">BOOK NOW!</a>
    </div>
</section>
