<div class="top-nav-menu top-nav-menu-fade fixed">
    <ul class="slicknav_menu2" id="topmenu">
        <li><a class="scroll" href="#nav_choose_tour">Choose Tour</a></li>
        <li><a class="scroll" href="#nav_drive_experience">Drive Experience</a></li>
        <li><a class="scroll" href="#nav_tour_list">Tour List</a></li>
        <li><a class="scroll" href="#nav_garage">Garage</a></li>
        <li><a class="scroll" href="#nav_faq">Faq</a></li>
        <li><a class="scroll" href="#nav_contacts">Contacts</a></li>
    </ul>
</div>
