<section id="nav_tour_list" class="section section-tour-list">
    <div class="tour-list-header padding-container">
        <h1 class="section-title tour-list-header-h">TOUR LIST</h1>
        <h1 class="titles-4">Check all our tours!</h1>
    </div>

    <!-- Slider main container -->
    <div class="swiper-container swiper-container-tour-list">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">


            <div class="swiper-slide">
                <div class="tour-list-tour-1 padding-container">
                    <h1 class="titles-2">CITY<br>OVERLOOK</h1>
                    <p>It's time to ride in style and get behind a gorgeous Sports car of your dreams.
                    Drive in the top of Hollywood Hills and enjoy spectacular views of the city from bird's eye height.</p>
                    <a class="tour-list-more-info" href="tour-city-overlook.html">More Info</a>
                    <a id="" class="book-now" href="#">BOOK NOW!</a>
                </div>
            </div>


            <div class="swiper-slide">
                <div class="tour-list-tour-2 padding-container">
                    <h1 class="titles-2">CITY<br>OVERLOOK</h1>
                    <p>It's time to ride in style and get behind a gorgeous Sports car of your dreams.
                        Drive in the top of Hollywood Hills and enjoy spectacular views of the city from bird's eye height.</p>
                    <a class="tour-list-more-info" href="tour-city-overlook.html">More Info</a>
                    <a id="" class="book-now" href="#">BOOK NOW!</a>
                </div>
            </div>

        </div>

        <div class="swiper-pagination swiper-pagination-tour-list">PAGINATOR</div>
    </div>

</section>
