<!DOCTYPE html>
<html lang="en">
    <head>
        {% include "partials/header.njk" %}
    </head>
    <body>
        <div class="page-whole">
            {% include "partials/main-menu.njk" %}
            {% include "partials/main.njk" %}
            {% include "partials/booking.njk" %}
            {% include "partials/drive_experience.njk" %}
            {% include "partials/tour_list.njk" %}
            {% include "partials/garage.njk" %}
            {% include "partials/faq.njk" %}
            {% include "partials/contacts.njk" %}
        </div>
    </body>
</html>
