<!DOCTYPE html>
<html lang="en">
<head>
    {% include "partials/header.njk" %}
</head>
<body>
<div class="page-whole">
    {% include "partials/main-menu.njk" %}

    <div class="tour-city-overlook-head padding-container">
        <h1 class="titles-2">CITY<br>OVERLOOK</h1>
        <div class="horizontal-space-between tour-city-overlook-head-info">
            <div>
                <h1 class="titles-5-yellow" style="margin-bottom: 16px">DURATION:</h1>
                <div class="horizontal">
                    <div style="margin-right: 32px">
                        <h1 class="titles-2">10</h1>
                        <h1 class="titles-5">MINUTES</h1>
                    </div>
                    <div>
                        <h1 class="titles-2">40</h1>
                        <h1 class="titles-5">MILES</h1>
                    </div>
                </div>
            </div>
            <div style="align-self: flex-end">
                <h1 class="titles-2-yellow">$975</h1>
            </div>
        </div>
        <a class="book-now-regular" href="http://google.com">BOOK NOW!</a>
    </div>

    <div class="padding-container tour-city-overlook-big-centered-text">
        <p>IT'S TIME TO RIDE IN STYLE
        AND GET BEHIND A GORGEOUS
        SPORTS CAR OF YOUR
        DREAMS.</p>
    </div>

    <!-- Slider main container -->
    <div class="swiper-container swiper-container-tour-list-city-overlook">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="tour-list-city-slide-1">&nbsp;</div>
            </div>

            <div class="swiper-slide">
                <div class="tour-list-city-slide-2">&nbsp;</div>
            </div>

            <div class="swiper-slide">
                <div class="tour-list-city-slide-3">&nbsp;</div>
            </div>
        </div>

        <div>&nbsp;</div><br>
        <!-- If we need pagination -->
        <div class="swiper-pagination swiper-pagination-tour-list-city-overlook">PAGINATOR</div>
    </div>

    <div class="padding-container tour-city-overlook-small-centered-text">
        <p>It's time to ride in style and get behind a
            gorgeous Sports car of your dreams.
            Drive on the top of Hollywood Hills and
            enjoy spectacular views of the city from
            bird’s eye height. It's time to ride in style
            and get behind a gorgeous Sports car of
            your dreams. Drive on the top of Hollywood
            Hills and enjoy spectacular views
            of the city from bird’s eye height.</p>
    </div>

    <img class="tour-city-overlook-map" src="img/tour-city-overlook-map.png">

    <div class="tour-city-overlook-google-map-header padding-container">
        <h1 class="section-title">MAP</h1>
    </div>

    <div>
        <iframe src="https://www.google.com/maps/d/embed?mid=1wZrjF8bXdcnRYDDMLohLC75AZTw" width="100%" height="480"></iframe>
    </div>

    <div class="tour-city-overlook-book-now padding-container">
        <a class="book-now-regular" href="http://google.com">BOOK NOW!</a>
    </div>

    <div class="padding-container tour-city-overlook-back">
        <a class="book-now" href="index.html">BACK</a>
    </div>

</div>
</body>
</html>
